@import "config";

// core styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baskerville", serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  border: none !important;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.spinner {
  display: block;
}

// album list tyle
.albumsPage {
  position: relative;
  height: 65vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //width: 10%;
  margin: auto;

  // width: 10%;
  // margin: auto;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

  // &-inner {
  //   // original --didn't work
  //   // height: 100%;
  //   // display: flex;
  //   // flex-direction: row;
  //   // flex-wrap: wrap;
  //   width: 10%;
  //   margin: auto;
  //   align-items: center;
  //   justify-content: center;
  //   text-align: center;
  // }
}

.albumObj {
  width: 250px;
  height: 350px;
  text-align: center;
  background-color: $light-color;
}

.albumImg {
  width: 200px;
  height: 200px;
}

// Background styles
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: #ccc 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: #ccc 1px solid;
  }
}
